

.logo {
    background-image: url(./img/pattern.png); 
    background-color: rgb(38, 128, 232);
    border: 0;
    width: 40cm;
    height: 80px;
    }

#The_Booleaner {
    color: rgb(45, 121, 171);
        
    }

#Ghost {
    color: gray;  
    text-align: left;
}

#Date {
    color: gray; 
    font-size: small;
}
    
#list_a {
    list-style-type: none;
    list-style-position: unset;
    margin-left: -1cm;
    }

#list_b {
    margin-left: -20px;
}   

.tab1 {
    background-color: rgba(0, 106, 255, 0.615);
    color: antiquewhite;
    padding-right: 920px;
       } 

#space {
    padding-left: 6cm;
       }
    